.contact-page {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 3fr) 1fr;
  grid-template-rows: 3fr minmax(200px, 1fr);
  align-items: center;
}

.contact-page > img {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-description {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #121214;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.links {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 50px;
}

.contact-description > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-description > div > h2 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.contact-description > div > p {
  font-weight: bold;
  color: #eff8fd;
}

.links > button {
  height: 60px;
  width: 60px;
  background-color: #ccc0b3;
}

button > img {
  width: 100%;
}
