@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Secular+One&family=Sigmar&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #121214;
  font-size: 1rem;
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(700px, 1fr);
  grid-template-rows: 110px 1fr 150px;
}

.header-section {
  height: 110px;
  width: 100%;
  background-color: #ccb4b3;
  box-shadow: 0px 0px 5px #77757d;
  position: fixed;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto minmax(250px, 3fr) minmax(200px, 300px);
  gap: 25px;
  align-items: center;
  padding: 0px 25px;
}

.main-section {
  grid-row: 2 / 3;
  background-color: #ccc0b3;
}

.footer-section {
  grid-row: 3 / 4;
  background-color: #c2b3a4;
  box-shadow: 0px 0px 5px #121214;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-self: end;
}

button {
  font-family: "Secular One", sans-serif;
  font-size: 1rem;
  background-color: #9ffaff;
  border: none;
  padding: 5px 10px;
}

.nav button {
  color: #121214;
  background-color: #ccb4b3;
}

.footer-section > p {
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

span {
  font-family: "Permanent Marker", cursive;
}

h1 {
  color: #121214;
  font-family: "Sigmar", cursive;
  font-size: 2rem;
}

h2,
h3 {
  font-family: "Secular One", sans-serif;
}

h3 {
  font-size: 1.5rem;
}

.nav button:hover {
  border-bottom: 5px solid #ccb4b3;
}
