@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Secular+One&family=Sigmar&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  color: #121214;
  font-size: 1rem;
  display: grid;
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 150px;
}

.header-section {
  position: fixed;
  grid-row: 1 / 2;
  height: 110px;
  width: 100%;
  background-color: #c2b3a4;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.main-section {
  grid-row: 2 / 3;
  background-color: #ccc0b3;
}

.footer-section {
  grid-row: 3 / 4;
  background-color: #d6cdc2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: max-content;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  justify-self: end;
}

button {
  font-family: "Secular One", sans-serif;
  font-size: 1rem;
  background-color: #9ffaff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.nav button {
  color: #121214;
  background-color: #c2b3a4;
}

.footer-section > p {
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
  font-size: clamp(1rem, 1vw, 1.25rem);
}

span {
  font-family: "Permanent Marker", cursive;
}

h1 {
  color: #121214;
  font-family: "Sigmar", cursive;
  font-size: clamp(1.5rem, 2vw, 2rem);
  display: inline-block;
  line-height: 1;
}

h2,
h3 {
  font-family: "Secular One", sans-serif;
}

h3 {
  font-size: 1.5rem;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav button:hover {
  border-bottom: 8px solid #c2b3a4;
  text-decoration: underline;
}
