.menu-page {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 3fr) 1fr;
  grid-template-rows: repeat(6, max-content);
  row-gap: 50px;
  justify-items: center;
}

.assorted-meats {
  grid-column: 1 / 4;
  width: 80%;
}

.ribs,
.steak,
.pork,
.burger,
.fish {
  grid-column: 2 / 3;
}

.menu-page > div {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  justify-items: center;
  gap: 20px;
  text-align: center;
}

.menu-page > div > p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 80%;
}

.menu-page > div > img {
  width: 80%;
  grid-row: 3 / 4;
}
